<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Utilities.Properties.Settings>
            <setting name="DbConnString" serializeAs="String">
                <value>Data Source=localhost;Initial Catalog=DotNetStudy;Persist Security Info=True;User ID=sa;Password=sa</value>
            </setting>
            <setting name="RedisConnString" serializeAs="String">
                <value>127.0.0.1:6379,keepAlive=180,allowAdmin=True,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING=</value>
            </setting>
        </Utilities.Properties.Settings>
    </applicationSettings>
</configuration>